@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-prev, .slick-next {
  font-size: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
}

.slick-prev:hover, .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

